<a href="http://localhost:8000/"><h1>COVID-19 Case Tracker</h1></a>


{% block content %}

{% if retrieveResult is True %}
<h2> Information for {{country}}: </h2>
<p>Data as of: {{asOfDate}}</p>
<p>Total number of confirmed cases: {{confirmedCaseCount}}</p>
<p>Total number of confirmed cases per million of population: {{confirmedCasePerMillion}}</p>
<p>Total number of fatalities: {{fatalitiesCount}}</p>
<p>Total number of fatalities per million of population: {{fatalitiesPerMillion}}</p>
<p>Number of new cases today: {{newCaseCount}}</p>
<p>7-day average number of new cases: {{sevenDayAverageNewCaseCount}}</p>
<p>Number of new fatalities: {{newFatalitiesCount}}</p>
<p>7-day average number of fatalities: {{sevenDayAverageNewFatalitiesCount}}</p>


{% else %}
<p>Error retrieving results!!!</p>
{% endif %}

<h2>Locations: </h2>
{% for locations in Locations %} 
<ul>
    <li><a href="http://localhost:8000/{{locations.pk}}/">{{locations.country}}</a></li>
</ul>

{% endfor %}


{% endblock %}

<a href="/addcountry/"><p> [Add a new location]</p></a>

